*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


  :root {
    --color-amarillo: rgb(228, 166, 19);
    --color-naranja: #d56e33;
    --color-azul: #2f3ba4;
    --color-placeholder:rgb(238, 229, 233);
    --colorFondo:#BBBE64;
    --menuFuente:font-family: 'Barlow Condensed', sans-serif;
  }
#logo{
    font-family: 'Titan One', sans-serif;
    color: var(--color-azul);
    font-size: 2vw;
}
span{
    color: var(--color-amarillo);
}
#menu{
    background-color: var(--color-mostazas);
}
/*<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap" rel="stylesheet">

font-family: 'Passion One', sans-serif;*/
li{
    font-family: var(--menuFuente);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 2px;
    margin: 0 3px;
color: white;
}
li:hover{
  border-bottom: white 5px solid;
}
header{
    background-color: var(--color-naranja);
}
.btn-nav{
    background-color: rgb(207, 120, 70);
    border: 0;
    padding: 3%;
    color: white;
    font-family: var(--menuFuente);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
input.form-control {
    background-color: rgb(207, 120, 70);
    border: 0;
    color: white;
}
input.form-control::placeholder {
    color: var(--color-placeholder); /* Cambia #999 por el color que desees para el marcador de posición */
}
.carousel-container {
    position: relative;
    overflow: hidden;
    height: 80vh;
    border-bottom: 1vh solid var(--color-amarillo); 
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
   
    object-fit: cover;
  }
  
  img {
    width: 100%;
  object-fit: cover; /* Asegura que la imagen cubra completamente la caja */
  height: 90%;
  object-position: center 40%; /* Centra la imagen verticalmente y la muestra un 20% más abajo */


  }
  
  .prev,.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  .noticias-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    height: 100vh; /* Ajusta la altura según tus necesidades */
}
#footer {
  height: 90vh;
  background-image: url("../imagenes/pexels-polina-tankilevitch-4109136.jpg");
  background-size: cover;
  background-position: center;
  color: white; /* Añadido para que el texto sea legible en la imagen */
}


#ultima-tarjeta{
  height: 75vh;
}
body {
  background-color: var(--colorFondo);
  
}
/* Agrega estas reglas en tu archivo CSS */
@keyframes bounceAnimation {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* Añade estas reglas en tu archivo CSS */
.icono-carrito {
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: color 0.3s ease; /* Agrega una transición suave para el cambio de color */
}

.icono-carrito:hover {
  color: var(--color-naranja); /* Cambia el color al pasar el mouse (puedes ajustar esto) */
}


.cantidad-container {
  display: flex;
  align-items: center;
}

button {
  font-size: 1rem;
  padding: 1px 7px;
  cursor: pointer;
  border: none;
  background-color: var(--color-naranja);
  color: var(--color-placeholder);

}
button:hover{
  background-color: var(--color-azul);
}
.cantidad {
  margin: 0 10px;
}
.btn-formenvio{
  width: 15%;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none; 
  color: inherit;
}
#btnBorrar{
  width:5%;
  margin: 1%;
  padding: 1%;
}